*.DotSettings
*.suo
*.user
*.dll
*.pdb
*.xml
*.log
*.ctf
*.cmd
*.txt
!CMakeLists.txt
*.pdb
*.exe
*.dll
*.so
*.tlog
.idea/
.vs/
.backup/
.nuget/
x64/
x86/
ipch/
Win32/
CMakeFiles/
node_modules/
packages
bin
obj
Temp
.happyPackCache/
UpgradeLog.htm
buildlocal.cmd
BuildReports/
BinCheckout/
Tools/FiasODataService/Publications
/updateEntity.cmd
*.VC.db
*.VC.VC.opendb
venv/